modules = ["python-3.11"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "django-server"

[[workflows.workflow]]
name = "django-server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "daphne -b 0.0.0.0 -p 5000 clickcounter.asgi:application"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80
